<div class="grid gap-4 md:grid-cols-4">
    <div class="md:col-span-2">
        <label>Nombre</label>
        <input type="text" pInputText [(ngModel)]="nombre" name="nombre" class="w-full" />
    </div>

    <div>
        <label>Género</label>
        <p-dropdown [options]="generos" [(ngModel)]="genero" name="genero" placeholder="Selecciona uno" class="w-full"></p-dropdown>
    </div>  

    <div>
        <label>Fecha de nacimiento</label> <br>
        <p-datepicker  [(ngModel)]="fechaNacimiento" name="fechaNacimiento" class="w-100"/>
    </div>    

    <div class="md:col-span-4">
        <label>Comentario</label>
        <textarea rows="5" cols="30" pTextarea [(ngModel)]="descripcion" class="w-full"></textarea>
    </div>

    <div class="md:col-span-1 flex items-center gap-2">
        <p-checkbox [(ngModel)]="activo" name="activo" binary="true"></p-checkbox>
        <label>Activo</label>
    </div>

    <div class="md:col-span-1">
        <label for="">Codigo</label>
         <p-inputotp [(ngModel)]="codigo" />
    </div>

    <div>
        <label for="">Elige un color</label> <br>
        <p-colorpicker [(ngModel)]="color" />
    </div>

    <div>
        <label for="">Iconos</label>
         <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search"  class="w-100"/>
            <p-inputicon styleClass="pi pi-spinner pi-spin" />
        </p-iconfield>
    </div>

    <div class="md:col-span-4 flex justify-end gap-2 mt-4">
        <p-button label="Cancelar" severity="secondary" />
        <p-button label="Guardar" icon="pi pi-check" />
    </div>
</div>
