<!-- TOOLBAR -->
<p-toolbar [style]="{ 'border-radius': '0rem'}">
    <ng-template #start>
        <p-button (click)="visible = true" icon="pi pi-bars" />
        <p-button icon="pi pi-print" class="mr-2" text severity="secondary" />
        <p-button icon="pi pi-upload" text severity="secondary" />
    </ng-template>
    <ng-template #center>
       
    </ng-template>
    <ng-template #end>
        <p-button (click)="toggleTheme()" icon="pi pi-moon" label="Dark Mode" class="mr-2"></p-button>
    </ng-template>
</p-toolbar>

<!-- LEFT SIDEBAR -->
<div class="card flex justify-center">
    <p-drawer [(visible)]="visible" header="Drawer">
        <div class="flex justify-center">
            <p-panelmenu [model]="items" styleClass="w-full md:w-80" />
        </div>
    </p-drawer>
    
</div>

<div class="p-2">
    <router-outlet />
</div>

<p-toast />

