/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "primeicons/primeicons.css";
@import "tailwindcss";

:root {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

// Transicion entre modo claro y obscuro
:root,
.dark-mode {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

// Typography
h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--font-size-h2);
  margin-bottom: 0.75rem;
}

h3 {
  font-size: var(--font-size-h3);
  margin-bottom: 0.5rem;
}

body {
  font-size: var(--font-size-body);
}

.text-small {
  font-size: var(--font-size-small);
}

